.app {
  font-family: sans-serif;
  display: flex;
  margin: 24px;
  gap: 12px;
  justify-content: center;
  flex-direction: column;
  &_searchList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &_searchItem {
    width: full;
    &:hover {
      background-color: gray;
      text: white;
      cursor: pointer;
    }
  }
}

.autocomplete {
  &_container {
    display: flex;
    flex-direction: column;
  }
  &_inputBox {
    width: 400px;
    padding: 8px;
    border-radius: 10px;
  }
}
